.stages_work ul {
    display: flex;
    gap: 44px;
    margin-bottom: 20px;
}

.stages_work .workbox {
    display: grid;
    grid-template-columns: 644px 1fr;
    gap: 30px;
}

.stages_work h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
}

.stages_work p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 54px;
    line-height: 20px;
}