.welcome_content {
position: relative;
height: 600px;
}

.welcome h2 {
    position: absolute;
    top: 40px;
    left: 36px;
    color: #fff;
    max-width: 800px;
    font-size: 70px;
    font-weight: 800;
}


.welcome p {
    position: absolute;
    top: 240px;
    left: 36px;
    color: #fff;
    max-width: 560px;
    font-size: 24px;
    font-weight: 600;
}


.welcome button {
    position: absolute;
    bottom: 40px;
    left: 36px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 13.5px 26px;
}